.subnav-bar {
  display: flex; //OMG 
  flex-wrap: wrap;
  background-color: qui(color, light);
  border: 1px solid darken(qui(color, light), 5);
  margin: qui(type, base-leading)/2 0;
  padding: 0;
  width:100%;
  overflow: hidden; //for box shadow;
}
.subnav-bar--item {
  flex-grow: 1;
  flex-basis: 130px;
  min-width: 120px;
  max-width: 220px;
  padding: qui(type, base-leading)/2 qui(type, gutter);
  background-color: lighten(qui(color, light), 5);
  box-shadow: 0px -1px 0 qui(color, light), 1px 1px 4px darken(qui(color, light), 5);
  border-right: 1px solid qui(color, light);
  color: qui(color, theme-text);
  line-height: 1em;
  text-shadow: 0px 1px 0px lighten(qui(color, light), 15);
  text-align: center;  
  cursor: pointer;
  a {
    text-shadow: none;
  }
  &:hover {
    background-color: darken(qui(color, light), 1);
    text-decoration: underline;
  }
  &.is-active {
    background-color: qui(color, dark);
    color: qui(color, accent);
    text-shadow: 0px 1px 0px darken(qui(color, dark), 15);
    text-decoration: none;
    cursor: default;
    @include transition(all 1s $ease-out-circ);
  }
  &:last-of-type {
    border-right: none;
  }
 }
 .subnav-bar--item__back {
  @extend .subnav-bar--item;
  flex-basis: 105px;
  min-width: 105px;
  flex-grow: 0;
 }