header {
	background-color: qui(color, dark);
	padding: qui(type, base-leading)/4 qui(type, gutter)/4;
	margin-bottom: qui(type, base-leading);
	@include breakpoint(small-awk) {
		padding: qui(type, base-leading)/2 qui(type, gutter) 0;
	}
	
}
nav {
	position: relative;
	vertical-align: middle;
	color: qui(color, off-white);
	font-family: qui(font, header);
	width: 100%;
	ul {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		text-align: center;
		width: 100%;
		@include breakpoint(smaller) {
			text-align: left;
			width: auto;
		}
	}
	li {
		display: inline;
		padding: qui(type, base-leading)/2 qui(type, gutter)/2;
		font-size: 1.1em;
		&:hover {
			color: qui(color, accent);
		}
		@include breakpoint(smallest) {
			font-size: 1.3em;
		}
		@include breakpoint(small) {
			font-size: 1.5em;
		}
	}
	a {
		color: qui(color, off-white);
		cursor: pointer;
		&:hover {
			color: qui(color, accent);
			text-decoration: none;
		}
	}
	.drop-down__trigger {
		&:hover {
			.drop-down {
				display: block;
				opacity: 1;
				height:166px; //find a better solution
				transition: height .1s ease-in;
				@include breakpoint(small) {
					height: 196px; //find a better solution
				}
				li {
					opacity: 1;
					transition: opacity .5s ease-in;
				}
			}
		}
		i {
			top: 2px;
			position: relative;
		}
	}
	.drop-down {
		//display: none;
		opacity: 0;
		height: 0;
		position: absolute;
		color: qui(color, dark);
		background-color: white;
		border-left: 4px solid qui(color, accent);
		padding: qui(type, base-leading)/4  0 qui(type, base-leading)/4 qui(type, gutter)/4;
		//margin-top: qui(type, base-leading)/2;
		top: qui(type, base-leading);
		left: 5%;
		box-shadow: 0 2px 6px transparentize(qui(color, dark), .8);
		transition: height .1s ease-out;
		text-align: left;
		width: auto;
		@include breakpoint (smallest) {
			left: 16.5%;
		}
		@include breakpoint (smaller) {
			left: qui(type, gutter)/2;
		}
		li {
			display: list-item;
			padding: qui(type, base-leading)/4 qui(type, gutter) qui(type, base-leading)/2 qui(type, gutter)/2;
			font-size: 1.1em;
			font-weight: qui(font, weight--normal);
			opacity: 0;
			&:hover {
				text-decoration: underline;
				color: qui(color, dark);
			}
			@include breakpoint(small) {
				padding: qui(type, base-leading)/2 qui(type, gutter) qui(type, base-leading)/2 qui(type, gutter)/2;
				font-size: 1.3em;
			}
		}
		a {
			color: qui(color, dark);
		}
	}
}
.logo {
	margin: 0 auto;
	display: block;
	vertical-align: middle;
	position: relative;
	width: $half;
	max-width: 200px;
	@include breakpoint(smaller) {
		display: inline-block;
		width: 25%;
		margin-right: qui(type, gutter)/2;
	}
	@include breakpoint(small) {
		margin-right: qui(type, gutter);
	}
	@include breakpoint(large) {
		margin-right: qui(type, gutter)*4;
	}
	svg {
		width: 100%;
		height: 100%;
		&:hover {
			g {
				fill: qui(color, accent);
			}
		}
	}
	g { //svg tag I guess?
		fill: qui(color, off-white);
	}
}