header {
	background-color: qui(color, dark);
}
nav {
	position: relative;
	vertical-align: middle;
	color: qui(color, off-white);
	font-family: qui(font, header);
	ul {
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
	li {
		display: inline;
		padding: qui(type, base-leading)/2 qui(type, gutter);
		font-size: 1.5em;
		&:hover {
			color: qui(color, accent);
		}
	}
	a {
		color: qui(color, off-white);
		&:hover {
			color: qui(color, accent);
			text-decoration: none;
		}
	}
	.drop-down__trigger {
		&:hover {
			.drop-down {
				display: block;
			}
		}
		i {
			top: 2px;
			position: relative;
		}
	}
	.drop-down {
		display: none;
		position: absolute;
		color: qui(color, dark);
		background-color: white;
		border-left: 4px solid qui(color, accent);
		padding: qui(type, base-leading)/4  0 qui(type, base-leading)/2 qui(type, gutter)/4;
		margin-top: qui(type, base-leading)/2;
		left: qui(type, gutter);
		box-shadow: 0 2px 6px transparentize(qui(color, dark), .8);
		li {
			display: block;
			padding: qui(type, base-leading)/2 qui(type, gutter) qui(type, base-leading)/2 qui(type, gutter)/2;
			font-size: 1.3em;
			font-weight: qui(font, weight--normal);
			&:hover {
				text-decoration: underline;
				color: qui(color, dark);
			}
		}
		a {
			color: qui(color, dark);
		}
	}
}
.logo {
	margin-right: qui(type, gutter);
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: qui(type, base-leading)/2 qui(type, gutter)/2;
	width: 15%;
	svg {
		width: 100%;
		height: 100%;
		&:hover {
			g {
				fill: qui(color, accent);
			}
		}
	}
	g { //svg tag I guess?
		fill: qui(color, off-white);
	}
}