p:first-letter, li:first-letter {
	font-size: 1.2em;
}
.important {
	font-weight: qui(font, weight--bold);
}
h2, h3 {
	clear: both;
}
.list--default {
	@extend %list--default;
	ul {
		@extend %list--default;
		margin: 0;
		list-style-type: circle;
	}
}
.list--ordered {
	@extend %list--ordered;
}