@import url(../../../bower_components/normalize-css/normalize.css);
.list--default, .list--default ul {
  margin: 11.326px 0;
  padding: 0 0 0 22.652px;
  list-style: disc;
  font-size: 14px;
  line-height: 22.652px;
  font-weight: 300; }

.list--ordered {
  margin: 11.326px 0;
  padding: 0 0 0 22.652px;
  list-style: decimal;
  font-size: 14px;
  line-height: 22.652px;
  font-weight: 300; }

html {
  box-sizing: border-box; }

html, body {
  height: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 14px;
  line-height: 22.652px;
  font-weight: 300; }

p {
  font-size: 14px;
  line-height: 22.652px;
  margin-bottom: 22.652px;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #333333;
  font-family: "Josefin Sans", sans-serif; }

h1 {
  font-size: 35px;
  line-height: 56.63px;
  margin-bottom: 22.652px; }

h2 {
  font-size: 29.4px;
  line-height: 47.5692px;
  margin-bottom: 22.652px; }

h1 + h2, h2 + h3 {
  margin-top: -22.652px; }

h3 {
  font-size: 25.2px;
  line-height: 40.7736px;
  margin-bottom: 12.58444px;
  font-weight: 700; }

h4 {
  font-size: 18.2px;
  line-height: 29.4476px;
  margin-bottom: 9.0608px; }

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 22.652px;
  margin-bottom: 5.663px;
  font-weight: 700; }

h6 {
  font-family: "Josefin Sans", sans-serif;
  color: #333333;
  font-style: italic;
  font-size: 14px;
  line-height: 22.652px;
  margin-bottom: 5.663px;
  font-weight: 300; }

a {
  cursor: pointer;
  color: #e2e2e2;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    cursor: pointer; }

img {
  max-width: 100%; }

hr {
  border: 0;
  height: 1px;
  background: #666666;
  margin-bottom: 22.652px; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 300; }

h2, h3 {
  font-weight: 400; }

h3 {
  color: #666666; }

p {
  max-width: 926px; }

a {
  color: #6cbde0; }

section {
  margin-bottom: 22.652px; }

.btn--act, .btn--more-up, .btn--more-down, .btn--success, .btn--add, .btn-primary.active, .btn--checkout, .btn--warn, .btn--modify, .btn--reset, .btn--cancel, button.is-successful, button.is-successful:hover, button.is-failed, button.is-failed:hover, button.is-waiting, button.is-waiting:hover, .btn--kill {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 11.326px 22.652px;
  font-weight: 700;
  border: none;
  border-radius: 3px; }
  .is-disabled.btn--act, .is-disabled.btn--more-up, .is-disabled.btn--more-down, .is-disabled.btn--success, .is-disabled.btn--add, .is-disabled.btn-primary.active, .is-disabled.btn--checkout, .is-disabled.btn--warn, .is-disabled.btn--modify, .is-disabled.btn--reset, .is-disabled.btn--cancel, button.is-disabled.is-successful, button.is-disabled.is-failed, button.is-disabled.is-waiting, .is-disabled.btn--kill, .is-disabled.btn--act:hover, .is-disabled.btn--more-up:hover, .is-disabled.btn--more-down:hover, .is-disabled.btn--success:hover, .is-disabled.btn--add:hover, .is-disabled.btn-primary.active:hover, .is-disabled.btn--checkout:hover, .is-disabled.btn--warn:hover, .is-disabled.btn--modify:hover, .is-disabled.btn--reset:hover, .is-disabled.btn--cancel:hover, button.is-disabled.is-successful:hover, button.is-disabled.is-failed:hover, button.is-disabled.is-waiting:hover, .is-disabled.btn--kill:hover, [disabled].btn--act, [disabled].btn--more-up, [disabled].btn--more-down, [disabled].btn--success, [disabled].btn--add, [disabled].btn-primary.active, [disabled].btn--checkout, [disabled].btn--warn, [disabled].btn--modify, [disabled].btn--reset, [disabled].btn--cancel, button[disabled].is-successful, button[disabled].is-failed, button[disabled].is-waiting, [disabled].btn--kill, [disabled].btn--act:hover, [disabled].btn--more-up:hover, [disabled].btn--more-down:hover, [disabled].btn--success:hover, [disabled].btn--add:hover, [disabled].btn-primary.active:hover, [disabled].btn--checkout:hover, [disabled].btn--warn:hover, [disabled].btn--modify:hover, [disabled].btn--reset:hover, [disabled].btn--cancel:hover, button[disabled].is-successful:hover, button[disabled].is-failed:hover, button[disabled].is-waiting:hover, [disabled].btn--kill:hover {
    color: gray;
    background: #CCC;
    text-shadow: none;
    box-shadow: none;
    cursor: default;
    -webkit-transition: .08s all linear;
            transition: .08s all linear; }

.btn--act, .btn--more-up, .btn--more-down {
  color: #fff;
  background: #6699cc;
  text-shadow: 1px 1px 0 #3973ac;
  -webkit-transition: all 0.05s ease-in-out;
          transition: all 0.05s ease-in-out;
  box-shadow: #2e5c8a 0 -1px 0 inset, #3d7ab8 0 -2px 0 inset, #7da8d4 0 1px 0 inset, #8cb2d9 0 2px 0 inset, #3d7ab8 0 0 0px 0px inset; }
  .btn--act:hover, .btn--more-up:hover, .btn--more-down:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: #2e5c8a 0 -1px 0 inset, #3d7ab8 0 -2px 0 inset, #71a1d0 0 1px 0 inset, #79a6d2 0 2px 0 inset, #3c78b4 0 0 22px 5px inset; }

.btn--success, .btn--add, .btn-primary.active {
  color: #fff;
  background: #5CC281;
  text-shadow: 1px 1px 0 #39985c;
  -webkit-transition: all 0.05s ease-in-out;
          transition: all 0.05s ease-in-out;
  box-shadow: #2d7748 0 -1px 0 inset, #3da462 0 -2px 0 inset, #72ca92 0 1px 0 inset, #81d09e 0 2px 0 inset, #3da462 0 0 0px 0px inset; }
  .btn--success:hover, .btn--add:hover, .btn-primary.active:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: #2d7748 0 -1px 0 inset, #3da462 0 -2px 0 inset, #67c68a 0 1px 0 inset, #6fc98f 0 2px 0 inset, #3ca060 0 0 22px 5px inset; }

.btn--checkout {
  color: #fff;
  background: #DFAC44;
  text-shadow: 1px 1px 0 #b7851f;
  -webkit-transition: all 0.05s ease-in-out;
          transition: all 0.05s ease-in-out;
  box-shadow: #906919 0 -1px 0 inset, #c48f22 0 -2px 0 inset, #e3b85e 0 1px 0 inset, #e6bf70 0 2px 0 inset, #c48f22 0 0 0px 0px inset; }
  .btn--checkout:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: #906919 0 -1px 0 inset, #c48f22 0 -2px 0 inset, #e1b251 0 1px 0 inset, #e3b65a 0 2px 0 inset, #c08c21 0 0 22px 5px inset; }

.btn--warn {
  color: #fff;
  background: #CC0033;
  text-shadow: 1px 1px 0 #800020;
  -webkit-transition: all 0.05s ease-in-out;
          transition: all 0.05s ease-in-out;
  box-shadow: #520014 0 -1px 0 inset, #8f0024 0 -2px 0 inset, #eb003b 0 1px 0 inset, #ff0040 0 2px 0 inset, #8f0024 0 0 0px 0px inset; }
  .btn--warn:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: #520014 0 -1px 0 inset, #8f0024 0 -2px 0 inset, #db0037 0 1px 0 inset, #e60039 0 2px 0 inset, #8a0022 0 0 22px 5px inset; }

.btn--modify {
  color: #72ac87;
  border: 1px dotted #5CC281;
  text-shadow: none;
  background: none;
  box-shadow: inset 0 0 0 0 #5CC281;
  -webkit-transition: all 0.045s ease-in-out;
          transition: all 0.045s ease-in-out; }
  .btn--modify:hover, .btn--modify:focus {
    text-decoration: none;
    border: 1px solid #5CC281;
    text-shadow: 0 1px 0 #40ab67;
    color: #fff;
    box-shadow: inset 0 0 22px 16px #5CC281; }

.btn--reset {
  color: #7a99b8;
  border: 1px dotted #6699cc;
  text-shadow: none;
  background: none;
  box-shadow: inset 0 0 0 0 #6699cc;
  -webkit-transition: all 0.045s ease-in-out;
          transition: all 0.045s ease-in-out; }
  .btn--reset:hover, .btn--reset:focus {
    text-decoration: none;
    border: 1px solid #6699cc;
    text-shadow: 0 1px 0 #407fbf;
    color: #fff;
    box-shadow: inset 0 0 22px 16px #6699cc; }

.btn--cancel {
  color: #b8143d;
  border: 1px dotted #CC0033;
  text-shadow: none;
  background: none;
  box-shadow: inset 0 0 0 0 #CC0033;
  -webkit-transition: all 0.045s ease-in-out;
          transition: all 0.045s ease-in-out; }
  .btn--cancel:hover, .btn--cancel:focus {
    text-decoration: none;
    border: 1px solid #CC0033;
    text-shadow: 0 1px 0 #990026;
    color: #fff;
    box-shadow: inset 0 0 22px 16px #CC0033; }

button.is-successful, button.is-successful:hover {
  color: #fff;
  background: #5CC281;
  text-shadow: 1px 1px 0 #39985c;
  -webkit-transition: all 0.05s ease-in-out;
          transition: all 0.05s ease-in-out;
  box-shadow: #2d7748 0 -1px 0 inset, #3da462 0 -2px 0 inset, #72ca92 0 1px 0 inset, #81d09e 0 2px 0 inset, #3da462 0 0 0px 0px inset;
  -webkit-transition: .5s all ease-in;
          transition: .5s all ease-in;
  cursor: default; }
  button.is-successful:hover, button.is-successful:hover:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: #2d7748 0 -1px 0 inset, #3da462 0 -2px 0 inset, #67c68a 0 1px 0 inset, #6fc98f 0 2px 0 inset, #3ca060 0 0 22px 5px inset; }
button.is-failed, button.is-failed:hover {
  color: #fff;
  background: #CC0033;
  text-shadow: 1px 1px 0 #800020;
  -webkit-transition: all 0.05s ease-in-out;
          transition: all 0.05s ease-in-out;
  box-shadow: #520014 0 -1px 0 inset, #8f0024 0 -2px 0 inset, #eb003b 0 1px 0 inset, #ff0040 0 2px 0 inset, #8f0024 0 0 0px 0px inset;
  -webkit-transition: .5s all ease-out;
          transition: .5s all ease-out;
  cursor: default; }
  button.is-failed:hover, button.is-failed:hover:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: #520014 0 -1px 0 inset, #8f0024 0 -2px 0 inset, #db0037 0 1px 0 inset, #e60039 0 2px 0 inset, #8a0022 0 0 22px 5px inset; }
button.is-waiting, button.is-waiting:hover {
  color: #fff;
  background: #DFAC44;
  text-shadow: 1px 1px 0 #b7851f;
  -webkit-transition: all 0.05s ease-in-out;
          transition: all 0.05s ease-in-out;
  box-shadow: #906919 0 -1px 0 inset, #c48f22 0 -2px 0 inset, #e3b85e 0 1px 0 inset, #e6bf70 0 2px 0 inset, #c48f22 0 0 0px 0px inset;
  -webkit-transition: .5s all ease-in;
          transition: .5s all ease-in;
  cursor: default; }
  button.is-waiting:hover, button.is-waiting:hover:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: #906919 0 -1px 0 inset, #c48f22 0 -2px 0 inset, #e1b251 0 1px 0 inset, #e3b65a 0 2px 0 inset, #c08c21 0 0 22px 5px inset; }
  button.is-waiting i, button.is-waiting:hover i {
    text-shadow: none; }

.btn--kill {
  position: absolute;
  background: none;
  right: 3px;
  top: 3px;
  box-shadow: none;
  padding: 2px 4px;
  margin: 0;
  -webkit-transition: all .18s ease-in-out;
          transition: all .18s ease-in-out; }
  .btn--kill:hover, .btn--kill:focus {
    color: #CC0033;
    font-size: 17px;
    background: none;
    box-shadow: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }

.btn--more-up, .btn--more-down {
  text-align: center;
  width: 100%;
  border-radius: 3px 3px 0 0; }

.btn--more-down {
  border-radius: 0 0 3px 3px; }

.subnav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #e2e2e2;
  border: 1px solid #d5d5d5;
  margin: 11.326px 0;
  padding: 0;
  width: 100%;
  overflow: hidden; }

.subnav-bar--item, .subnav-bar--item__back {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 130px;
      -ms-flex-preferred-size: 130px;
          flex-basis: 130px;
  min-width: 120px;
  max-width: 220px;
  background-color: #efefef;
  box-shadow: 0px -1px 0 #e2e2e2, 1px 1px 4px #d5d5d5;
  border-right: 1px solid #e2e2e2;
  color: black;
  line-height: 1em;
  text-shadow: 0px 1px 0px white;
  text-align: center;
  cursor: pointer; }
  .subnav-bar--item a, .subnav-bar--item__back a {
    color: black;
    text-shadow: 0px 1px 0px white;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 11.326px 22.652px; }
  .subnav-bar--item:hover, .subnav-bar--item__back:hover {
    background-color: #dfdfdf;
    text-decoration: underline; }
  .subnav-bar--item.is-active, .is-active.subnav-bar--item__back, .subnav-bar--item.is-active a, .is-active.subnav-bar--item__back a {
    background-color: #333333;
    color: #6cbde0;
    text-shadow: 0px 1px 0px #0d0d0d;
    text-decoration: none;
    cursor: default;
    -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .subnav-bar--item:last-of-type, .subnav-bar--item__back:last-of-type {
    border-right: none; }

.subnav-bar--item__back {
  -webkit-flex-basis: 105px;
      -ms-flex-preferred-size: 105px;
          flex-basis: 105px;
  min-width: 105px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.horizontal-boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 22.652px;
  margin-bottom: 22.652px; }
  @media only screen and (min-width: 768px) {
    .horizontal-boxes {
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; } }

.horizontal-box, .horizontal-box--full-bg {
  padding: 22.652px 22.652px;
  width: 100%;
  margin: 22.652px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .horizontal-box:first-of-type, .horizontal-box--full-bg:first-of-type {
    margin-left: 0; }
  .horizontal-box:last-of-type, .horizontal-box--full-bg:last-of-type {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .horizontal-box, .horizontal-box--full-bg {
      padding: 22.652px 11.326px;
      width: 31%;
      margin: 0 auto; } }
  @media only screen and (min-width: 1024px) {
    .horizontal-box, .horizontal-box--full-bg {
      padding: 22.652px 22.652px; } }
  .horizontal-box img, .horizontal-box--full-bg img {
    margin: 0 auto 22.652px; }
  .horizontal-box div, .horizontal-box--full-bg div {
    padding: 22.652px 22.652px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

.horizontal-box--full-bg {
  background-color: #e2e2e2; }

main {
  padding: 5.663px 5.663px; }
  @media only screen and (min-width: 600px) {
    main {
      padding: 22.652px 22.652px; } }
  @media only screen and (min-width: 1200px) {
    main {
      width: 85%; } }
  @media only screen and (min-width: 1450px) {
    main {
      width: 75%; } }

.project:after {
  content: "";
  display: table;
  clear: both; }
@media only screen and (min-width: 1200px) {
  .project .setup-links, .project p {
    float: left;
    width: 50%; } }

.setup-links {
  width: 100%;
  text-align: center;
  margin-bottom: 22.652px; }
  .setup-links li {
    display: inline-block;
    vertical-align: top;
    padding: 11.326px 11.326px;
    text-align: center; }
    .setup-links li:first-child {
      padding-left: 0; }
    .setup-links li:last-child {
      padding-right: 0; }
  .setup-links .resource {
    display: block;
    text-align: center;
    font-size: 5em;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    padding: 22.652px; }

.person {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 22.652px;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .person {
      text-align: left;
      clear: left; } }
  @media only screen and (min-width: 1200px) {
    .person {
      float: left;
      width: 50%;
      clear: none; } }
  .person img {
    width: 18%;
    max-width: 120px;
    min-width: 70px;
    border-radius: 100%; }
    @media only screen and (min-width: 600px) {
      .person img {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 22.652px;
        margin-bottom: 22.652px; } }
    @media only screen and (min-width: 768px) {
      .person img {
        margin-bottom: 0; } }

.person--bio {
  font-size: 1.3em; }
  @media only screen and (min-width: 600px) {
    .person--bio {
      display: inline-block;
      width: 75%; } }
  @media only screen and (min-width: 900px) {
    .person--bio {
      width: 82%; } }
  @media only screen and (min-width: 1200px) {
    .person--bio {
      width: 75%; } }
  .person--bio h3 {
    text-align: center; }
    @media only screen and (min-width: 600px) {
      .person--bio h3 {
        text-align: left; } }
  .person--bio p {
    text-align: left; }

header {
  background-color: #333333;
  padding: 5.663px 5.663px;
  margin-bottom: 22.652px; }
  @media only screen and (min-width: 600px) {
    header {
      padding: 11.326px 22.652px 0; } }

nav {
  position: relative;
  vertical-align: middle;
  color: #f2f1e9;
  font-family: "Josefin Sans", sans-serif;
  width: 100%; }
  nav ul {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: center;
    width: 100%; }
    @media only screen and (min-width: 500px) {
      nav ul {
        text-align: left;
        width: auto; } }
  nav li {
    display: inline;
    padding: 11.326px 11.326px;
    font-size: 1.1em;
    letter-spacing: 1.5px; }
    nav li:hover {
      color: #6cbde0; }
    @media only screen and (min-width: 400px) {
      nav li {
        font-size: 1.3em; } }
    @media only screen and (min-width: 768px) {
      nav li {
        font-size: 1.5em; } }
  nav a {
    color: #f2f1e9;
    cursor: pointer; }
    nav a:hover {
      color: #6cbde0;
      text-decoration: none; }
  nav .drop-down__trigger:hover .drop-down {
    display: block;
    opacity: 1;
    height: 166px;
    -webkit-transition: height .1s ease-in;
            transition: height .1s ease-in; }
    @media only screen and (min-width: 768px) {
      nav .drop-down__trigger:hover .drop-down {
        height: 196px; } }
    nav .drop-down__trigger:hover .drop-down li {
      opacity: 1;
      -webkit-transition: opacity .5s ease-in;
              transition: opacity .5s ease-in; }
  nav .drop-down__trigger i {
    top: 2px;
    position: relative; }
  nav .drop-down {
    opacity: 0;
    height: 0;
    position: absolute;
    color: #333333;
    background-color: white;
    border-left: 4px solid #6cbde0;
    padding: 5.663px 0 5.663px 5.663px;
    top: 22.652px;
    left: 5%;
    box-shadow: 0 2px 6px rgba(51, 51, 51, 0.2);
    -webkit-transition: height .1s ease-out;
            transition: height .1s ease-out;
    text-align: left;
    width: auto; }
    @media only screen and (min-width: 400px) {
      nav .drop-down {
        left: 16.5%; } }
    @media only screen and (min-width: 500px) {
      nav .drop-down {
        left: 11.326px; } }
    nav .drop-down li {
      display: list-item;
      padding: 5.663px 22.652px 11.326px 11.326px;
      font-size: 1.1em;
      font-weight: 400;
      opacity: 0; }
      nav .drop-down li:hover {
        text-decoration: underline;
        color: #333333; }
      @media only screen and (min-width: 768px) {
        nav .drop-down li {
          padding: 11.326px 22.652px 11.326px 11.326px;
          font-size: 1.3em; } }
    nav .drop-down a {
      color: #333333; }

.logo {
  margin: 0 auto;
  display: block;
  vertical-align: middle;
  position: relative;
  width: 50%;
  max-width: 200px; }
  @media only screen and (min-width: 500px) {
    .logo {
      display: inline-block;
      width: 20%;
      margin-right: 11.326px; } }
  @media only screen and (min-width: 768px) {
    .logo {
      margin-right: 22.652px; } }
  @media only screen and (min-width: 1200px) {
    .logo {
      margin-right: 67.956px; } }
  .logo svg {
    width: 100%;
    height: 100%;
    max-width: 154px; }
    .logo svg:hover g {
      fill: #6cbde0; }
  .logo g {
    fill: #f2f1e9; }

p:first-letter, li:first-letter {
  font-size: 1.2em; }

.important {
  font-weight: 700; }

.list--default ul {
  margin: 0;
  list-style-type: circle; }

.horizontal-boxes .fa {
  background-color: #6cbde0;
  color: #f2f1e9;
  font-size: 4em;
  border-radius: 100%;
  padding: 22.652px 22.652px;
  margin: 0 auto 22.652px;
  position: relative;
  display: inline-block; }

@media only screen and (min-width: 768px) {
  .horizontal-box:first-of-type, .horizontal-box--full-bg:first-of-type {
    padding-left: 0; } }
